@model EvidencePojistencu1.Models.Insurance

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Insurance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InsuranceId" />
            <div class="form-group">
                <label asp-for="InsuranceType" class="control-label"></label>
                <input asp-for="InsuranceType" class="form-control" />
                <span asp-validation-for="InsuranceType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PremiumAmount" class="control-label"></label>
                <input asp-for="PremiumAmount" class="form-control" />
                <span asp-validation-for="PremiumAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsuredPersonId" class="control-label"></label>
                <select asp-for="InsuredPersonId" class="form-control" asp-items="ViewBag.InsuredPersonId"></select>
                <span asp-validation-for="InsuredPersonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
